/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Botones de página principal */
.button-container {
    display: flex;
    gap: 20px;
}

.custom-button {
    display: inline-block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    line-height: 110px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.button1 {
    background-color: #a020f0;
}

.button2 {
    background-color: #32cd32;
}

.custom-button:hover {
    transform: scale(1.1);
    background-color: #555;
}

/* Colores de páginas de ejercicios */
.form-container {
    background: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #0056b3;
}
